@model sellcar.webui.Models.IlanListViewModel
@{ var yakit_tipleri = new string[] { "Benzin", "Benzin & LPG", "Dizel", "Hybrid", "Elektrik" }; }
@{ var vites_tipleri = new string[] { "Manuel", "Yarı Otomatik", "Otomatik" }; }
@{ var kasa_tipleri = new string[] { "Cabrio", "Coupe", "Hatchback 3 kapı", "Hatchback 5 kapı", "Sedan", "Station Wagon", "Crossover", "MPV", "Roadster" };}
@{ var cekis_tipleri = new string[] { "Önden Çekiş", "Arkadan İtiş", "4WD (Sürekli)", "AWD (Elektronik)" };}
@{ var renkler = new string[] { "Bej", "Beyaz", "Bordo", "Füme", "Gri", "Gümüş Gri", "Kahverengi", "Kırmızı", "Lacivert", "Mavi", "Mor", "Pembe", "Sarı", "Siyah", "Şampanya", "Turkuaz", "Turuncu", "Yeşil" };}

@await Html.PartialAsync("_header")

<main class="my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 ">

                <form action="/cars/@ViewBag.markaurl" method="post">
                    <div class="py-3">
                        @if (Model.min_fiyat != null || Model.max_fiyat != null)
                        {
                            @if (Model.min_fiyat == null)
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="fiyat1">
                                    <h6 class="d-inline"> <small><b>Fiyat </b>@Model.max_fiyat ve altında</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                            else if (Model.max_fiyat == null)
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="fiyat2">
                                    <h6 class="d-inline"> <small><b>Fiyat </b>@Model.min_fiyat ve üzeri </small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="fiyat3">
                                    <h6 class="d-inline"> <small><b>Fiyat </b>@Model.min_fiyat - @Model.max_fiyat</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                        }
                        @if (Model.min_yil != null || Model.max_yil != null)
                        {
                            @if (Model.min_yil == null)
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="yil1">
                                    <h6 class="d-inline"> <small><b>Yıl </b>@Model.max_yil ve altında</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>

                            }
                            else if (Model.max_yil == null)
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="yil2">
                                    <h6 class="d-inline"> <small><b>Yıl </b>@Model.min_yil ve üzeri </small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="yil3">
                                    <h6 class="d-inline"> <small><b>Yıl </b>@Model.min_yil - @Model.max_yil</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                        }
                        @if (Model.yakit_tipi != null)
                        {
                            foreach (var item in Model.yakit_tipi)
                            {
                                string a = item.Replace(" ", "_").Replace("&", "_") + "x";
                                <button class="btn btn-xs bg-dark  text-white mb-3 " id="@a">
                                    <h6 class="d-inline"> <small>@item</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                                a = null;
                            }
                        }
                        @if (Model.vites_tipi != null)
                        {
                            foreach (var item in Model.vites_tipi)
                            {
                                string a = item.Replace(" ", "_") + "x";
                                <button class="btn btn-xs bg-dark  text-white mb-3 " id="@a">
                                    <h6 class="d-inline"> <small>@item</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                                a = null;
                            }
                        }
                        @if (Model.min_kilometre != null || Model.max_kilometre != null)
                        {
                            @if (Model.min_kilometre == null)
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="kilometre1">
                                    <h6 class="d-inline"> <small><b>Kilometre </b>@Model.max_kilometre ve altında</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>

                            }
                            else if (Model.max_kilometre == null)
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="kilometre2">
                                    <h6 class="d-inline"> <small><b>Kilometre </b>@Model.min_kilometre ve üzeri </small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="kilometre3">
                                    <h6 class="d-inline"> <small><b>Kilometre </b>@Model.min_kilometre - @Model.max_kilometre</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                        }
                        @if (Model.kasa_tipi != null)
                        {
                            foreach (var item in Model.kasa_tipi)
                            {
                                string a = item.Replace(" ", "_") + "x";
                                <button class="btn btn-xs bg-dark  text-white mb-3 " id="@a">
                                    <h6 class="d-inline"> <small>@item</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                                a = null;
                            }
                        }
                        @if (Model.min_beygir != null || Model.max_beygir != null)
                        {
                            @if (Model.min_beygir == null)
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="motor1">
                                    <h6 class="d-inline"> <small><b>Motor Gücü(HP) </b>@Model.max_beygir ve altında</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>

                            }
                            else if (Model.max_beygir == null)
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="motor2">
                                    <h6 class="d-inline"> <small><b>Motor Gücü(HP) </b>@Model.min_beygir ve üzeri </small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-xs bg-dark  text-white mb-3" id="motor3">
                                    <h6 class="d-inline"> <small><b>Motor Gücü(HP) </b>@Model.min_beygir - @Model.max_beygir</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                            }
                        }
                        @if (Model.renk != null)
                        {
                            foreach (var item in Model.renk)
                            {
                                string a = item.Replace(" ", "_") + "x";
                                <button class="btn btn-xs bg-dark  text-white mb-3 " id="@a">
                                    <h6 class="d-inline"> <small>@item</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                                a = null;
                            }
                        }
                        @if (Model.kimden != null)
                        {
                            <button class="btn btn-xs bg-dark  text-white mb-3" id="kimden1">
                                <h6 class="d-inline"> <small>@Model.kimden</small></h6>
                                <i class="fas fa-window-close ml-1"></i>
                            </button>
                        }
                        @if (Model.durumu != null)
                        {
                            <button class="btn btn-xs bg-dark  text-white mb-3" id="durumu1">
                                <h6 class="d-inline"> <small>@Model.durumu</small></h6>
                                <i class="fas fa-window-close ml-1"></i>
                            </button>
                        }
                        @if (Model.takasli != null)
                        {
                            <button class="btn btn-xs bg-dark  text-white mb-3" id="takas1">
                                <h6 class="d-inline"> <small><b>Takas: </b>@Model.takasli</small></h6>
                                <i class="fas fa-window-close ml-1"></i>
                            </button>
                        }
                        @if (Model.cekis != null)
                        {
                            foreach (var item in Model.cekis)
                            {
                                string a = item.Replace(" ", "_").Replace("(", "_").Replace(")", "_") + "x";
                                <button class="btn btn-xs bg-dark  text-white mb-3 " id="@a">
                                    <h6 class="d-inline"> <small>@item</small></h6>
                                    <i class="fas fa-window-close ml-1"></i>
                                </button>
                                a = null;
                            }
                        }
                    </div>
                    <div class="bg-light border-right markalar  ">
                        @await Component.InvokeAsync("Markalar")
                    </div>
                    <button class="btn btn-success btn-block mt-3 " type="submit">Ara</button>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_13" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">İl</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_13">
                        <div class="card card-body" style="height:200px;overflow-y: scroll;">
                            @foreach (var item in ViewBag.iller)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" name="il" type="checkbox" value="@item.adi" id="@item.adi" @if (Model.il != null) { @(Model.il.Any(i => i == item.adi) ? "checked" : "") } />
                                    <label class="form-check-label">
                                        @item.adi
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_1" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Fiyat</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_1">
                        <div class="card card-body">
                            <input class="form-control" asp-for="min_fiyat" placeholder="Min ₺" type="number" step="500 " min="0">
                            <strong style="text-align: center;" class="my-auto">↓</strong>
                            <input class="form-control" asp-for="max_fiyat" placeholder="Max ₺" type="number" step="500 ">
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_2" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Yıl</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_2">
                        <div class="card card-body">
                            <input class="form-control" asp-for="min_yil" placeholder="Min Yıl" type="number" step="1 ">
                            <strong style="text-align: center;" class="my-auto">↓</strong>
                            <input class="form-control" asp-for="max_yil" placeholder="Max Yıl" type="number" step="1 " max="@DateTime.Now.Year">
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_3" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Yakıt</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_3">
                        <div class="card card-body">
                            @foreach (var item in yakit_tipleri)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" name="yakit_tipi" type="checkbox" value="@item" id="@item.Replace(" ", "_").Replace("&","_")" @if (Model.yakit_tipi != null) { @(Model.yakit_tipi.Any(i => i == item) ? "checked" : "") } />
                                    <label class="form-check-label">
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_4" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Vites</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_4">
                        <div class="card card-body">
                            @foreach (var item in vites_tipleri)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" name="vites_tipi" type="checkbox" value="@item" id="@item.Replace(" ","_")" @if (Model.vites_tipi != null) { @(Model.vites_tipi.Any(i => i == item) ? "checked" : "") } />
                                    <label class="form-check-label">
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_5" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Kilometre</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_5">
                        <div class="card card-body">
                            <input class="form-control" asp-for="min_kilometre" placeholder="Min KM" type="number" step="500 " min="0">
                            <strong style="text-align: center;" class="my-auto">↓</strong>
                            <input class="form-control " asp-for="max_kilometre" placeholder="Max KM" type="number" step="500 ">
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_6" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Kasa Tipi</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_6">
                        <div class="card card-body">
                            @foreach (var item in kasa_tipleri)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" name="kasa_tipi" type="checkbox" value="@item" id="@item.Replace(" ","_")" @if (Model.kasa_tipi != null) { @(Model.kasa_tipi.Any(i => i == item) ? "checked" : "") } />
                                    <label class="form-check-label">
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_7" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Beygir Gücü</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_7">
                        <div class="card card-body">
                            <input class="form-control" name="min_beygir" placeholder="Min HP" type="number" step="5" min="0">
                            <strong style="text-align: center;" class="my-auto">↓</strong>
                            <input class="form-control " name="max_beygir" placeholder="Max HP" type="number" step="5">
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_8" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Çekiş</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_8">
                        <div class="card card-body">
                            @foreach (var item in cekis_tipleri)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" name="cekis" type="checkbox" value="@item" id="@item.Replace(" ","_").Replace("(","_").Replace(")","_")" @if (Model.cekis != null) { @(Model.cekis.Any(i => i == item) ? "checked" : "") } />
                                    <label class="form-check-label">
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_9" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Renk</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_9">
                        <div class="card card-body">
                            @foreach (var item in renkler)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" name="renk" type="checkbox" value="@item" id="@item.Replace(" ","_")" @if (Model.renk != null) { @(Model.renk.Any(i => i == item) ? "checked" : "") } />
                                    <label class="form-check-label">
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_10" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Kimden</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_10">
                        <div class="card card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="kimden" id="sahibinden"
                                       value="Sahibinden">
                                <label class="form-check-label">
                                    Sahibinden
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="kimden" id="galeriden"
                                       value="Galeriden">
                                <label class="form-check-label">
                                    Galeriden
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="kimden" id="yetkiliBayiden"
                                       value="Yetkili Bayiden">
                                <label class="form-check-label">
                                    Yetkili Bayiden
                                </label>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_11" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Durumu</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_11">
                        <div class="card card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="durumu" id="sifir"
                                       value="Sıfır">
                                <label class="form-check-label">
                                    Sıfır
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="durumu" id="ikinciEl"
                                       value="İkinci El">
                                <label class="form-check-label">
                                    İkinci El
                                </label>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3">
                        <a class="btn filterbtn" data-toggle="collapse" href="#_12" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <strong style="float: left;">Takaslı</strong>
                        </a>
                    </p>
                    <div class="collapse" id="_12">
                        <div class="card card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="takasli" id="takasaAcik"
                                       value="Evet">
                                <label class="form-check-label" for="exampleRadios6">
                                    Evet
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="takasli" id="takasaKapali"
                                       value="Hayır">
                                <label class="form-check-label" for="exampleRadios7">
                                    Hayır
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success btn-block " type="submit">Ara</button>
                </form>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="row mb-2">
                    @if (TempData["message"] != null)
                    {
                        <div class="alert alert-success box w-100" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong><i class="fas fa-check mr-2"></i></strong>@TempData["message"]
                        </div>
                    }
                    <div class="col-md-9">
                        <small><a href="/" class="text-decoration-none">Anasayfa</a><i class="fas fa-arrow-right mx-2"></i></small>
                        <small><a href="/cars" class="text-decoration-none">Arabalar</a><i class="fas fa-arrow-right mx-2"></i></small>
                        @if (ViewBag.markaurl != null && ViewBag.markaurl != "")
                        {
                            <small>
                                <a href="/cars/@ViewBag.markaurl" class="text-decoration-none">
                                    @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase((((string)ViewBag.markaurl).Replace("-", " ")))
                                </a>
                            </small>
                        }
                        else
                        {
                            <small>
                                <a href="/cars" class="text-decoration-none">
                                    Tüm Markalar
                                </a>
                            </small>
                        }
                    </div>
                    <div class="col-md-3">
                        <select class="form-control form-control-sm" id="mySelect" onchange="sortTable()">
                            <option class="py-3">Gelişmiş Arama</option>
                            <option value="price_desc">Fiyata göre (Önce en yüksek)</option>
                            <option value="price_asc">Fiyata göre (Önce en düşük)</option>
                            <option value="date_desc">Tarihe göre (Önce en yeni ilan)</option>
                            <option value="date_asc">Tarihe göre (Önce en eski ilan)</option>
                            <option value="km-nu_asc">Km'ye göre (Önce en düşük)</option>
                            <option value="km-nu_desc">Km'ye göre (Önce en yüksek)</option>
                            <option value="yil-nu_desc">Yıla göre (Önce en yeni)</option>
                            <option value="yil-nu_asc">Yıla göre (Önce en eksi)</option>
                        </select>
                    </div>
                </div>
                <table id="example" class="table table-striped table-bordered dt-responsive " style="width:100%">
                    <thead>
                        <tr>
                            <th>İlan Resmi</th>
                            <th>Fiyatı</th>
                            <th>İlan Başlığı</th>
                            <th>Marka</th>
                            <th>Seri</th>
                            <th>Model</th>
                            <th>Yıl</th>
                            <th>Km</th>
                            <th>Renk</th>
                            <th>İlan Tarihi</th>
                            <th>İl</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ilanlar.Count; i++)
                        {
                            <tr>
                                <td><a href="/car/details/@Model.ilanlar[i].IlanId"><img src="~/images/@(Model.ilanlar[i].IlanResimleri[0].url)" width=90 height="67"></a> </td>
                                <td>@Model.ilanlar[i].fiyat.ToString("c")</td>
                                <td>@Model.ilanlar[i].ilanBasligi</td>
                                <td>@Model.ilanlar[i].Marka.adi</td>
                                <td>@Model.ilanlar[i].seri</td>
                                <td>@Model.ilanlar[i].model</td>
                                <td>@Model.ilanlar[i].yil</td>
                                <td>@Model.ilanlar[i].kilometre</td>
                                <td>@Model.ilanlar[i].renk</td>
                                <td>@Model.ilanlar[i].ilanTarihi</td>
                                <td>@Model.ilanlar[i].Il.adi</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="container-fluid">
    @await Html.PartialAsync("_footer")
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".box").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 3000);
            //fiyat
            $("#fiyat1").click(function () {
                $("#fiyat1").hide();
                $("#max_fiyat").val('')
            });
            $("#fiyat2").click(function () {
                $("#fiyat2").hide();
                $("#min_fiyat").val('')
            });
            $("#fiyat3").click(function () {
                $("#fiyat3").hide();
                $("#max_fiyat").val('')
                $("#min_fiyat").val('')
            });
            //

            //yil
            $("#yil1").click(function () {
                $("#yil1").hide();
                $("#max_yil").val('')
            });
            $("#yil2").click(function () {
                $("#yil2").hide();
                $("#min_yil").val('')
            });
            $("#yil3").click(function () {
                $("#yil3").hide();
                $("#max_yil").val('')
                $("#min_yil").val('')
            });
            //

            //yakit
            $("#Benzinx").click(function () {
                $("#Benzinx").hide();
                $("#Benzin").removeAttr("checked");
            });
            $("#Benzin___LPGx").click(function () {
                $("#Benzin___LPGx").hide();
                $("#Benzin___LPG").removeAttr("checked");
            });
            $("#Dizelx").click(function () {
                $("#Dizelx").hide();
                $("#Dizel").removeAttr("checked");
            });
            $("#Hybridx").click(function () {
                $("#Hybridx").hide();
                $("#Hybrid").removeAttr("checked");
            });
            $("#Elektrikx").click(function () {
                $("#Elektrikx").hide();
                $("#Elektrik").removeAttr("checked");
            });
            //

            //vites tipi
            $("#Manuelx").click(function () {
                $("#Manuelx").hide();
                $("#Manuel").removeAttr("checked");
            });
            $("#Otomatikx").click(function () {
                $("#Otomatikx").hide();
                $("#Otomatik").removeAttr("checked");
            });
            $("#Yarı_Otomatikx").click(function () {
                $("#Yarı_Otomatikx").hide();
                $("#Yarı_Otomatik").removeAttr("checked");
            });
            //

            //kilometre
            $("#kilometre1").click(function () {
                $("#kilometre1").hide();
                $("#max_kilometre").val('')
            });
            $("#kilometre2").click(function () {
                $("#kilometre2").hide();
                $("#min_kilometre").val('')
            });
            $("#kilometre3").click(function () {
                $("#kilometre3").hide();
                $("#max_kilometre").val('')
                $("#min_kilometre").val('')
            });
            //

            //kasa tipi
            $("#Cabriox").click(function () {
                $("#Cabriox").hide();
                $("#Cabrio").removeAttr("checked");
            });
            $("#Coupex").click(function () {
                $("#Coupex").hide();
                $("#Coupe").removeAttr("checked");
            });
            $("#Sedanx").click(function () {
                $("#Sedanx").hide();
                $("#Sedan").removeAttr("checked");
            });
            $("#Crossoverx").click(function () {
                $("#Crossoverx").hide();
                $("#Crossover").removeAttr("checked");
            });
            $("#MPVx").click(function () {
                $("#MPVx").hide();
                $("#MPV").removeAttr("checked");
            });
            $("#Roadsterx").click(function () {
                $("#Roadsterx").hide();
                $("#Roadster").removeAttr("checked");
            });

            $("#Hatchback_3_kapıx").click(function () {
                $("#Hatchback_3_kapıx").hide();
                $("#Hatchback_3_kapı").removeAttr("checked");
            });
            $("#Hatchback_5_kapıx").click(function () {
                $("#Hatchback_5_kapıx").hide();
                $("#Hatchback_5_kapı").removeAttr("checked");
            });
            $("#Station_Wagonx").click(function () {
                $("#Station_Wagonx").hide();
                $("#Station_Wagon").removeAttr("checked");
            });
            //

            //motor gücü
            $("#motor1").click(function () {
                $("#motor1").hide();
                $("#max_beygir").val('')
            });
            $("#motor2").click(function () {
                $("#motor2").hide();
                $("#min_beygir").val('')
            });
            $("#motor3").click(function () {
                $("#motor3").hide();
                $("#max_beygir").val('')
                $("#min_beygir").val('')
            });
            //

            //renk
            $("#Bejx").click(function () {
                $("Bejx").hide();
                $("#Bej").removeAttr("checked");
            });
            $("#Beyazx").click(function () {
                $("#Beyazx").hide();
                $("#Beyaz").removeAttr("checked");
            });
            $("#Bordox").click(function () {
                $("#Bordox").hide();
                $("#Bordo").removeAttr("checked");
            });

            $("#Fümex").click(function () {
                $("#Fümex").hide();
                $("#Füme").removeAttr("checked");
            });
            $("#Grix").click(function () {
                $("#Grix").hide();
                $("#Gri").removeAttr("checked");
            });
            $("#Kahverengix").click(function () {
                $("#Kahverengix").hide();
                $("#Kahverengi").removeAttr("checked");
            });
            $("#Kırmızıx").click(function () {
                $("#Kırmızıx").hide();
                $("#Kırmızı").removeAttr("checked");
            });
            $("#Gümüş_Grix").click(function () {
                $("#Gümüş_Grix").hide();
                $("#Gümüş_Gri").removeAttr("checked");
            });

            $("#Lacivertx").click(function () {
                $("#Lacivertx").hide();
                $("#Lacivert").removeAttr("checked");
            });
            $("#Mavix").click(function () {
                $("#Mavix").hide();
                $("#Mavi").removeAttr("checked");
            });
            $("#Morx").click(function () {
                $("#Morx").hide();
                $("#Mor").removeAttr("checked");
            });
            $("#Pembex").click(function () {
                $("#Pembex").hide();
                $("#Pembe").removeAttr("checked");
            });
            $("#Sarıx").click(function () {
                $("#Sarıx").hide();
                $("#Sarı").removeAttr("checked");
            });
            $("#Siyahx").click(function () {
                $("#Siyahx").hide();
                $("#Siyah").removeAttr("checked");
            });
            $("#Şampanyax").click(function () {
                $("#Şampanyax").hide();
                $("#Şampanya").removeAttr("checked");
            });
            $("#Turkuazx").click(function () {
                $("#Turkuazx").hide();
                $("#Turkuaz").removeAttr("checked");
            });
            $("#Turuncux").click(function () {
                $("#Turuncux").hide();
                $("#Turuncu").removeAttr("checked");
            });
            $("#Yeşilx").click(function () {
                $("#Yeşilx").hide();
                $("#Yeşil").removeAttr("checked");
            });
            //

            //kimden
            $("#kimden1").click(function () {
                $("#kimden1").hide();
                $("#galeriden").removeAttr("checked");
            });
            $("#kimden1").click(function () {
                $("#kimden1").hide();
                $("#yetkiliBayiden").removeAttr("checked");
            });

            $("#kimden1").click(function () {
                $("#kimden1").hide();
                $("#sahibinden").removeAttr("checked");
            });
            //

            //durum
            $("#durumu1").click(function () {
                $("#durumu1").hide();
                $("#sifir").removeAttr("checked");
            });
            $("#durumu1").click(function () {
                $("#durumu1").hide();
                $("#ikinciEl").removeAttr("checked");
            });
            //

            //takas
            $("#takas1").click(function () {
                $("#takas1").hide();
                $("#takasaAcik").removeAttr("checked");
            });
            $("#takas1").click(function () {
                $("#takas1").hide();
                $("#takasaKapali").removeAttr("checked");
            });
            //

            //cekis tipi
            $("#Önden_Çekişx").click(function () {
                $("#Önden_Çekişx").hide();
                $("#Önden_Çekiş").removeAttr("checked");
            });
            $("#Arkadan_İtişx").click(function () {
                $("#Arkadan_İtişx").hide();
                $("#Arkadan_İtiş").removeAttr("checked");
            });
            $("#AWD__Elektronik_x").click(function () {
                $("#AWD__Elektronik_x").hide();
                $("#AWD__Elektronik_").removeAttr("checked");
            });
            //
        });
    </script>
    <script>
        function sortTable() {
            switch (document.getElementById("mySelect").value) {
                case "km-nu_asc":
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("example");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[7];
                            y = rows[i + 1].getElementsByTagName("TD")[7];
                            if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                    break;
                case "km-nu_desc":
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("example");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[7];
                            y = rows[i + 1].getElementsByTagName("TD")[7];
                            if (Number(x.innerHTML) < Number(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                    break;
                case "yil-nu_asc":
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("example");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[6];
                            y = rows[i + 1].getElementsByTagName("TD")[6];
                            if (Number(x.innerHTML) > Number(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                    break;
                case "yil-nu_desc":
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("example");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[6];
                            y = rows[i + 1].getElementsByTagName("TD")[6];
                            if (Number(x.innerHTML) < Number(y.innerHTML)) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {

                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                    break;
                case "price_desc":
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("example");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[1];
                            y = rows[i + 1].getElementsByTagName("TD")[1];

                            var x1 = x.innerHTML.split('.').join('');
                            x1 = x1.split(',').join('.');

                            var y1 = y.innerHTML.split('.').join('');
                            y1 = y1.split(',').join('.');

                            if (Number(x1.replace(/[^0-9.]/g, "")) < Number(y1.replace(/[^0-9.]/g, ""))) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {

                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                    break;
                case "price_asc":
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("example");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[1];
                            y = rows[i + 1].getElementsByTagName("TD")[1];

                            var x1 = x.innerHTML.split('.').join('');
                            x1 = x1.split(',').join('.');

                            var y1 = y.innerHTML.split('.').join('');
                            y1 = y1.split(',').join('.');

                            if (Number(x1.replace(/[^0-9.]/g, "")) > Number(y1.replace(/[^0-9.]/g, ""))) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {

                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                    break;
                case "date_desc":
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("example");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[9];
                            y = rows[i + 1].getElementsByTagName("TD")[9];

                            var x1 = x.innerHTML.substring(0, 10).split(".")
                            var y1 = y.innerHTML.substring(0, 10).split(".")

                            if (new Date(x1[2], x1[1], x1[0]) < new Date(y1[2], y1[1], y1[0])) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {

                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                    break;
                case "date_asc":
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("example");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("TD")[9];
                            y = rows[i + 1].getElementsByTagName("TD")[9];

                            var x1 = x.innerHTML.substring(0, 10).split(".")
                            var y1 = y.innerHTML.substring(0, 10).split(".")

                            if (new Date(x1[2], x1[1], x1[0]) > new Date(y1[2], y1[1], y1[0])) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {

                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                    break;
                default:
            }
        }
    </script>
}
