@model sellcar.webui.Models.UserProfileModel
<div class="container">
    <h3 class="mt-1">Üyeliğim</h3>
    <hr class="my-3">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar rounded-circle img-thumbnail" alt="avatar">
                <h6 class="my-2">@Model.FirstName @Model.LastName</h6>
                <i>@Model.MembershipDate tarihinde üye oldunuz.</i>
            </div>
            <div class="list-group my-3">
                <a href="#" class="list-group-item list-group-item-action text-white bg-dark">İlan Yönetimi</a>
                <a href="/user/ilanlarim" class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">Yayındaki İlanlarım</a>
                <a href="/user/favorilerim" class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">Favori ilanlarım</a>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Bilgilerim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-edit-tab" data-toggle="pill" href="#pills-edit" role="tab" aria-controls="pills-edit" aria-selected="false">Düzenle</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent" style="height:100%; width:100%; overflow-y:hidden;overflow-x:hidden">
                <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h6>Ad</h6>
                            <p>

                                @(Model.FirstName==null?"-":Model.FirstName)
                            </p>
                            <h6>Soyad</h6>
                            <p>
                                @(Model.LastName==null?"-":Model.LastName)
                            </p>
                            <h6>Kullanıcı adı</h6>
                            <p>
                                @(Model.UserName==null?"-":Model.UserName)
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6>Email</h6>
                            <p>
                                @(Model.Email==null?"-":Model.Email)
                            </p>
                            <h6>Adres</h6>
                            <p>
                                @(Model.Address==null?"-":Model.Address)
                            </p>
                            <h6>Telefon</h6>
                            <p>
                                @(Model.PhoneNumber==null?"-":Model.PhoneNumber)
                            </p>
                            <hr>
                            <span class="badge badge-primary"><i class="far fa-newspaper "></i> @ViewBag.ilansayisi Yayındaki ilan</span>
                            <span class="badge badge-success"><i class="far fa-thumbs-up "></i> @ViewBag.favs Favori ilan</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab">
                    <form asp-controller="USer" asp-action="UserProfileEdit" method="POST">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class=" mb-1">Ad</label>
                                    <input class="form-control " asp-for="FirstName" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class=" mb-1">Soyad</label>
                                    <input class="form-control" asp-for="LastName" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class=" mb-1">Kullanıcı Adı</label>
                                    <input class="form-control" asp-for="UserName" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class=" mb-1">Telefon</label>
                                    <input class="form-control " asp-for="PhoneNumber" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" mb-1">Email</label>
                            <input class="form-control" asp-for="Email" />
                        </div>
                        <div class="form-group">
                            <label class=" mb-1">Adres</label>
                            <input class="form-control " asp-for="Address" />
                        </div>
                        <div class="form-group mt-4 mb-0"><button class="btn btn-success btn-block" type="submit">Değişiklikleri kaydet</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
